<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>小方桌</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1201843_4xbuf0k9b4u.css">
    <script src="../../dist/js/jquery-2.2.0.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo-box">
            <a href="/"></a>
        </div>
        
        <ul class="nav">
            <li class="active"><a href="/">创业咨询</a></li>
            <li><a href="/">创业课堂</a></li>
            <li><a href="/">付费咨询</a></li>
            <li><a href="/">搜索</a></li>
        </ul>

        <div class="auth-box">
            <i class="icon-xiaoren iconfont"></i>
            <a href="#">登录</a> /
            <a href="#">注册</a>
        </div>
    </div>
</header>

<div class="main">
    <div class="wrapper">
        <div class="news-wrapper">
            <div class="banner-group">
                <ul class="banner-ul" id="banner-ul">
                    <li>
                        <a href="">
                            <img src="https://www.xfz.cn/static/build/images/web-shopxfz-banner.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://static-image.xfz.cn/xfz-banner-gift.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://static-image.xfz.cn/xfz-report-banner.jpg?imageslim" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://static-image.xfz.cn/bufan/bufan2018.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-wrapper"></div>
    </div>
</div>
</body>
</html>